<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.brunocaldas.coelhorapido">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.cliente.ClienteMainActivity"
            android:label="@string/title_activity_cliente_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.cliente.NovaEntregaActivity"
            android:label="@string/title_activity_teste"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.cliente.ConsultaActivity"
            android:label="@string/title_activity_consulta"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.cliente.DetalhesConsultaActivity"
            android:label="@string/title_activity_detalhes_consulta"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.motorista.MotoristaMainActivity"
            android:label="@string/title_activity_motorista_main"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.motorista.NovasEntregasActivity"
            android:label="@string/title_activity_novas_entregas"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.motorista.PontosReferenciaActivity"
            android:label="@string/title_activity_pontos_referencia"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>